.quiz-container {
    padding: 1rem;
    text-align: center;
}

.quiz-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.quiz-image {
    width: 200px;
    margin: 0 auto 2rem;
}

.quiz-options {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.option-button {
    background-color: #fde68a;
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option-button:hover {
    background-color: #facc15;
}

.quiz-feedback {
    font-size: 2.4rem;
    font-weight: bold;
}

.back-button {
    background-color: #fd93e490;
    color: rgb(29, 29, 29);
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1rem;
    font-size: 2.5rem;
    cursor: pointer;
}